*{
    margin: 0;
    padding: 0;
}
#sec1{
    border: 1px solid black;
    display: flex ;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 8vh;
}
#firstbox{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    height: 80vh;
    width: 25%;
    background:linear-gradient( hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    border-radius: 20px;
    color: white;
    /* align-items: center; */
}
#round{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 75%;
    width: 200px;
    height: 200px;
    background:linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0)) ;
    /* border: 1px solid white; */
}
#round h1{
    font-size: 50px;
}
#belowround{
    text-align: center;
}
#belowround h1{
    margin-bottom: 3vh;

}

#firstbox h2{
    font-size: 23px;
}

#secondbox{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 80vh;
    width: 25%;
    background-color:white ;
    border-radius: 0px 20px 20px 0px;
}
#secondboxii{
    border: 1px solid black;
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}
#outerbox{
}
.innerbox{
    
}