@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,200;0,300;1,200;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Hanken Grotesk', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
#sec1{
    /* border: 1px solid black; */
    display: flex ;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
#firstbox{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid black; */
    height: 70vh;
    width: 50%;
    background:linear-gradient( hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    border-radius: 20px;
    color: white;
    /* align-items: center; */
}
#round{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 75%;
    width: 150px;
    height: 150px;
    background:linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0)) ;
    /* border: 1px solid white; */
}
#round h1{
    font-size: 50px;
}
#belowround{
    text-align: center;
}
#belowround h1{
    margin-bottom: 3vh;
}

#firstbox h2{
    font-size: 23px;
}

#secondbox{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    height: 70vh;
    width: 50%;
    background-color:white ;
    border-radius: 0px 20px 20px 0px;
}
#secondboxii{
    /* border: 1px solid black; */
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#secondboxii h1{
    margin-left: 30px;
}
.outerbox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    border-radius: 15px;
    padding: 10px 10px;
    width: 80%;
    margin-left: 12px;
}
.innerbox{
    display: flex;
    /* gap: 5px; */
}
#num1{
    background-color: hsla(0, 100%, 67%, 0.1);
}
#num2{
    background-color:  hsla(39, 100%, 56%, 0.1);
}
#num3{
    background-color: hsla(166, 100%, 37%, 0.1);
}
#num4{
    background-color:hsla(234, 85%, 45%, 0.1) ;
}
#num5{
    background-color: rgb(39, 39, 70); 
    color: white;
}
#num5:hover{
    color: white;
    background-color: blue;
}
@media (max-width: 576px) {
    #firstbox,
    #secondbox {
      width: 100%;
    }
    #sec1 {
      flex-direction: column;
      width: 100%;
    }
  }
  @media (min-width: 577px) and (max-width: 992px) {
    #sec1 {
      width: 100%;
    }
  }